# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Node & Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Temporary & Scratch
scratch/
.temp/
.tmp/
